<% layout('layouts/boilerplate-dashboard') -%>
<div style="margin-top: 30px">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">DASHBOARD</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="
            feature-icon-small
            d-inline-flex
            align-items-center
            justify-content-center
            text-bg-primary
            bg-gradient
            fs-4
            rounded-3
            p-2
          "
        >
          <i class="fa fa-mountain fs-4"></i>
        </div>
        <h3 class="fs-2">Wisata</h3>
        <p>Manajemen Data Wisata</p>
        <a
          href="/dashboard/wisata"
          class="icon-link d-inline-flex align-items-center"
        >
          Klik disini
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
      </div>

      <div class="feature col">
        <div
          class="
            feature-icon-small
            d-inline-flex
            align-items-center
            justify-content-center
            text-bg-primary
            bg-gradient
            fs-4
            rounded-3
            p-2
          "
        >
          <i class="fa fa-mountain fs-4"></i>
        </div>
        <h3 class="fs-2">Hotel</h3>
        <p>Manajemen Data Hotel</p>
        <a
          href="/dashboard/hotel"
          class="icon-link d-inline-flex align-items-center"
        >
          Klik disini
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
      </div>

      <div class="feature col">
        <div
          class="
            feature-icon-small
            d-inline-flex
            align-items-center
            justify-content-center
            text-bg-primary
            bg-gradient
            fs-4
            rounded-3
            p-2
          "
        >
          <i class="fa fa-mountain fs-4"></i>
        </div>
        <h3 class="fs-2">Kategori</h3>
        <p>Manajemen Data Kategori</p>
        <a
          href="/dashboard/kategori"
          class="icon-link d-inline-flex align-items-center"
        >
          Klik disini
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
      </div>

      <div class="feature col">
        <div
          class="
            feature-icon-small
            d-inline-flex
            align-items-center
            justify-content-center
            text-bg-primary
            bg-gradient
            fs-4
            rounded-3
            p-2
          "
        >
          <i class="fa fa-mountain fs-4"></i>
        </div>
        <h3 class="fs-2">Buku Tamu</h3>
        <p>Manajemen Data Buku Tamu</p>
        <a
          href="/dashboard/buku-tamu"
          class="icon-link d-inline-flex align-items-center"
        >
          Klik disini
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
