<footer
  class="d-flex justify-content-center align-items-center py-4 border-top"
  style="width: 100%; margin-top: 100px"
>
  <p class="text-muted m-0">
    Simata Sumba Timur &copy; 2022
    <a target="_blank" href="https://www.sumbatimurkab.go.id/"
      >Pemerintah Sumba Timur</a
    >
  </p>
</footer>
