<% layout('layouts/boilerplate') -%>
<div>
  <div style="background-color: #2d3748; padding: 10px 0">
    <marquee
      style="color: #4fd1c5; font-size: 20px; font-weight: 600"
      class="py-1"
    >
      Selamat Datang di Website Pariwisata Sumba Timur
    </marquee>
  </div>
  <div class="px-4">
    <div class="alert alert-info mt-4" role="alert">
      <h3>Tentang Sumba Timur</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quo
        sunt modi praesentium illum alias in ea, autem reiciendis sequi ullam
        aspernatur, fugit, quos veritatis. Deserunt facere harum maiores
        excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Harum natus provident nesciunt sequi consectetur eius voluptas
        aspernatur quam nihil ipsa rem aliquid incidunt, sed accusantium fuga
        similique dolor veniam optio. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Ratione sed quos voluptas ea, officiis, provident qui
        consequatur laboriosam impedit velit excepturi autem explicabo vel
        recusandae ab quidem ipsam eum cum.
      </p>
    </div>
    <div class="d-flex justify-content-center mt-4" l style="gap: 20px">
      <div style="width: 50%">
        <div
          style="
            width: 70%;
            border: 1px solid gray;
            border-radius: 8px;
            padding: 16px;
          "
        >
          <h6 class="text-center">Search</h6>
          <form class="d-flex input-group" role="search">
            <input
              class="form-control"
              type="search"
              placeholder="cari..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
        <div class="mt-4" style="border: 1px solid gray; border-radius: 8px">
          <h5
            class="text-center"
            style="border-bottom: 1px solid gray; padding: 8px"
          >
            Polling
          </h5>
          <div style="padding: 16px">
            <p class="text-left" style="margin-bottom: 5px">
              Apakah website ini bermanfaat?
            </p>
            <form>
              <ul class="list-group">
                <li class="list-group-item">
                  <input
                    class="form-check-input me-1"
                    type="radio"
                    name="listGroupRadio"
                    value=""
                    id="firstRadio"
                    checked
                  />
                  <label class="form-check-label" for="firstRadio"
                    >Sangat Bermanfaat</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    class="form-check-input me-1"
                    type="radio"
                    name="listGroupRadio"
                    value=""
                    id="secondRadio"
                  />
                  <label class="form-check-label" for="secondRadio"
                    >Cukup Bermanfaat</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    class="form-check-input me-1"
                    type="radio"
                    name="listGroupRadio"
                    value=""
                    id="thirdRadio"
                  />
                  <label class="form-check-label" for="thirdRadio"
                    >Kurang Bermanfaat</label
                  >
                </li>
                <li class="list-group-item">
                  <input
                    class="form-check-input me-1"
                    type="radio"
                    name="listGroupRadio"
                    value=""
                    id="fourRadio"
                  />
                  <label class="form-check-label" for="fourRadio"
                    >Tidak Bermanfaat</label
                  >
                </li>
              </ul>
              <div class="d-flex justify-content-center mt-3">
                <button
                  class="btn btn-success"
                  style="width: 120px"
                  type="submit"
                >
                  Kirim
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div style="width: 50%">
        <section
          id="image-carousel"
          class="splide"
          aria-label="Beautiful Images"
        >
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img
                  src="https://asset-a.grid.id/crop/0x0:0x0/x/photo/2019/08/22/3851685422.jpg"
                  alt=""
                />
              </li>
              <li class="splide__slide">
                <img
                  src="https://prailiuorg.files.wordpress.com/2017/09/img_20170711_100327_882.jpg?w=1180&h=600&crop=1"
                  alt=""
                />
              </li>
              <li class="splide__slide">
                <img
                  src="https://indonesiatraveler.id/wp-content/uploads/2020/07/Sumba-Kampung-Adat-Praiyawang2.jpg"
                  alt=""
                />
              </li>
              <li class="splide__slide">
                <img
                  src="https://assets.promediateknologi.com/crop/0x0:0x0/x/photo/2022/02/24/4069347413.jpg"
                  alt=""
                />
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
