<% layout('layouts/boilerplate') -%>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
  rel="stylesheet"
  type="text/css"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<main style="padding: 50px 0">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="mb-4 border-bottom">Hubungi Kami</h2>
        </div>
      </div>
      <div class="d-flex align-items-flex-start justify-content-center gap-4">
        <div style="max-width: 30%">
          <div class="d-flex align-items-center gap-3 mb-5">
            <div class="icon">
              <span class="fa fa-map-marker" style="font-size: 30px"></span>
            </div>
            <p style="margin-bottom: 0">
              Alamat: Jl Soeharto - Hambala. Kabupaten Sumba Timur, Provinsi:
              Nusa Tenggara Timur
            </p>
          </div>

          <div class="d-flex align-items-center gap-3 mb-5">
            <div class="icon">
              <span class="fa fa-phone" style="font-size: 30px"></span>
            </div>
            <p style="margin-bottom: 0">(0387) 2560004</p>
          </div>

          <div class="d-flex align-items-center gap-3 mb-5">
            <div class="icon">
              <span class="fa fa-envelope" style="font-size: 30px"></span>
            </div>
            <p style="margin-bottom: 0">dinaskominfo@sumbatimurkab.go.id</p>
          </div>
        </div>
        <div>
          <p>Layanan Jam Kerja</p>
          <p>Senin - Jumat 08.00 - 15.00 WITA</p>
          <p>Sabtu, Minggu, dan tanggal merah libur</p>
        </div>
      </div>
      <!-- <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row no-gutters">
              <div
                class="
                  col-lg-8 col-md-7
                  order-md-last
                  d-flex
                  align-items-stretch
                "
              >
                <div class="contact-wrap w-100 p-md-5 p-4">
                  <h3 class="mb-4">Get in touch</h3>
                  <form
                    method="POST"
                    id="contactForm"
                    name="contactForm"
                    class="contactForm"
                  >
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="name">Nama Lengkap</label>
                          <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name"
                            placeholder="Nama Lengkap"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="email">Alamat Email</label>
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            placeholder="Alamat Email"
                          />
                        </div>
                      </div>
                      <div class="col-md-12 my-4">
                        <div class="form-group">
                          <label class="label" for="subject">Subject</label>
                          <input
                            type="text"
                            class="form-control"
                            name="subject"
                            id="subject"
                            placeholder="Subject"
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="#">Message</label>
                          <textarea
                            name="message"
                            class="form-control"
                            id="message"
                            cols="30"
                            rows="4"
                            placeholder="Message"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-12 my-4">
                        <div class="form-group">
                          <input
                            type="submit"
                            value="Kirim Pesan"
                            class="btn btn-success"
                          />
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div
                class="col-lg-4 col-md-5 d-flex align-items-stretch text-white"
              >
                <div
                  style="border-radius: 12px"
                  class="info-wrap bg-success w-100 p-4"
                >
                  <h3>Let's get in touch</h3>
                  <p class="mb-4">
                    We're open for any suggestion or just to have a chat
                  </p>
                  <div class="dbox w-100 d-flex align-items-center gap-3">
                    <div
                      class="
                        icon
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text">
                      <p>
                        <span>Alamat:</span> Jl Soeharto - Hambala. Kabupaten
                        Sumba Timur, Provinsi: Nusa Tenggara Timur
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center gap-3">
                    <div
                      class="
                        icon
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <span class="fa fa-phone"></span>
                    </div>
                    <div class="text">
                      <p>
                        <span>Phone:</span>
                        <a href="tel://1234567920">+62</a>
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center gap-3">
                    <div
                      class="
                        icon
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text">
                      <p>
                        <span>Email:</span>
                        <a href="mailto:info@yoursite.com"
                          >dinaskominfo@sumbatimurkab.go.id</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center gap-3">
                    <div
                      class="
                        icon
                        d-flex
                        align-items-center
                        justify-content-center
                      "
                    >
                      <span class="fa fa-globe"></span>
                    </div>
                    <div class="text">
                      <p>
                        <span>Website</span>
                        <a
                          href="https://www.sumbatimurkab.go.id/"
                          target="_blank"
                          >https://www.sumbatimurkab.go.id/</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</main>
