<div>
  <div
    style="
      display: flex;
      align-items: center;
      padding: 20px;
      background-color: #bfe3b4;
    "
  >
    <a href="/">
      <img
        style="width: 120px; height: 130px; object-position: center"
        src="/Lambang_Kabupaten_Sumba_Timur.png"
      />
    </a>
    <div
      style="
        margin-left: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      "
    >
      <h2>Simata Sumba Timur</h2>
      <h5>Sistem Informasi Pariwisata Sumba Timur</h5>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 80vh">
        <img
          style="width: 100%; object-fit: contain; object-position: center"
          src="https://asset-a.grid.id/crop/0x0:0x0/x/photo/2019/08/22/3851685422.jpg"
          alt=""
        />

        <!-- <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>
              Some representative placeholder content for the first slide of the
              carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div> -->
      </div>
      <div class="carousel-item" style="height: 80vh">
        <img
          style="width: 100%; object-fit: contain; object-position: center"
          src="https://prailiuorg.files.wordpress.com/2017/09/img_20170711_100327_882.jpg?w=1180&h=600&crop=1"
          alt=""
        />

        <!-- <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>
              Some representative placeholder content for the second slide of
              the carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div> -->
      </div>
      <div class="carousel-item" style="height: 80vh">
        <img
          style="width: 100%; object-fit: contain; object-position: center"
          src="https://indonesiatraveler.id/wp-content/uploads/2020/07/Sumba-Kampung-Adat-Praiyawang2.jpg"
          alt=""
        />

        <!-- <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>
              Some representative placeholder content for the third slide of
              this carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div> -->
      </div>

      <div class="carousel-item" style="height: 80vh">
        <img
          style="width: 100%; object-fit: contain; object-position: center"
          src="https://assets.promediateknologi.com/crop/0x0:0x0/x/photo/2022/02/24/4069347413.jpg"
          alt=""
        />

        <!-- <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>
              Some representative placeholder content for the third slide of
              this carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div> -->
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul
          class="navbar-nav mb-2 mb-md-0"
          style="display: flex; justify-content: space-between; width: 100%"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Profile</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  >‌Sejarah Singkat Dinas Pariwisata Sumba Timur</a
                >
              </li>
              <li><a class="dropdown-item" href="#">‌Visi & Misi</a></li>
              <li><a class="dropdown-item" href="#">Struktur Organisasi</a></li>
              <li>
                <a class="dropdown-item" href="#">‌Tugas Pokok Dan Fungsi</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Wisata</a
            >
            <ul class="dropdown-menu">
              <!-- <li>
                <a class="dropdown-item" href="/kategori?type=Wisata Alam"
                  >‌Wisata Alam</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/kategori?type=Wisata Budaya"
                  >‌Wisata Budaya</a
                >
              </li> -->
              <li><a class="dropdown-item" href="/wisata">Daftar Wisata</a></li>
              <li><a class="dropdown-item" href="/hotel">Daftar Hotel</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buku-tamu">Buku Tamu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontak">Hubungi Kami</a>
          </li>
          <% if( userData !== undefined ) {%>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dasboard</a>
          </li>
          <% } %>
          <div>
            <li class="nav-item">
              <% if( userData !== undefined ) {%>
              <a class="p-1" href="/logout"
                ><button class="btn btn-warning" type="submit">
                  Logout
                </button></a
              >
            </li>
            <li class="nav-item"><% } else { %></li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary" href="/login">Masuk</a>
            </li>

            <% } %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
