<div>
  <div
    style="
      display: flex;
      align-items: center;
      padding: 20px;
      background-color: #bfe3b4;
    "
  >
    <img
      style="width: 120px; height: 130px; object-position: center"
      src="/Lambang_Kabupaten_Sumba_Timur.png"
    />
    <div
      style="
        margin-left: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      "
    >
      <h2>Simata Sumba Timur</h2>
      <h5>Sistem Informasi Pariwisata Sumba Timur</h5>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul
          class="navbar-nav mb-2 mb-md-0"
          style="display: flex; justify-content: space-between; width: 100%"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Profile</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Wisata</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/wisata">Daftar Wisata</a></li>
              <li><a class="dropdown-item" href="/hotel">Daftar Hotel</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buku-tamu">Buku Tamu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontak">Hubungi Kami</a>
          </li>
          <% if( userData !== undefined ) {%>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dasboard</a>
          </li>
          <% } %>
          <div>
            <li class="nav-item">
              <% if( userData !== undefined ) {%>
              <a class="p-1" href="/logout"
                ><button class="btn btn-warning" type="submit">
                  Logout
                </button></a
              >
            </li>
            <li class="nav-item"><% } else { %></li>
            <li class="nav-item">
              <a class="nav-link btn btn-danger" href="/login">Masuk</a>
            </li>

            <% } %>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
